html {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #ccc;
}

body {
   width: 70%;
   margin: 0 auto;
}

div {
   margin-bottom: 10px;
}

#quotient {
   font-weight: bold;
   font-size: 14pt;
   background-color: #eee;
   padding: 0 5px;
}

#about, .heading {
   font-size: 18pt;
}

.mono, #mismatch {
   font-family: monospace;
   font-weight: bold;
   font-size: 12pt;
   color: darkred;
}

input {
   width: 200px;
   background-color: #eee;
   font-size: 12pt;
}

.inputTitle {
   display: inline-block;
   width: 100px;
}

#expressionLine {
   display: block;
   width: 210px;
}

#expression, #numToEng, #numToEngTitle {
   width: 100%;
}

#expressionResult, #numToEngResult {
   font-size: 14pt;
   font-weight: bold;
   background-color: #eee;
   padding: 0 5px;
}

button {
   font-size: 16pt;
}